html {
  height: 100%;
}

body {
  background-color:rgb(249, 212, 175);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

main {
  text-align: center;
}

#datetime {
  background-color: rgb(118, 241, 122);
  width: 300px;
  margin: auto;
  border: 1px solid grey;
}